@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.page-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 4rem;

  > h3 {
    padding-left: 4rem;

    @media (max-width: 800px) {
      padding-left: 2rem;
    }
  }
}

.scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.hor-grid {
  display: flex;
  gap: 1.5rem;
  min-width: max-content;
  padding-inline: 4rem;

  // Give room for the hover effect not being cut-off
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (max-width: 800px) {
    padding-inline: 2rem;
  }
}