@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.footer {
    margin-top: 6rem;
    @include flex(row, space-between, center);
    gap: 1rem;
    padding: 2rem;
    background-color: $gray-900;

    @media (max-width: 800px) {
        @include flex(column, start, center);
        flex-wrap: wrap;
        padding: 2rem 1rem;
    }  
}

.footer-author {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: .25rem;
}