@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.pill {
    @include flex(row, center, center);
    line-height: normal;
    cursor: pointer;
    border-radius: .25rem;
    transition: all 0.2s ease-in-out;

    &-red {
        background-color: $accent-base;
        color: $white;
    }


    &-transparent {
        background: rgba($color: $black, $alpha: .2);
        color: $white;
    }

    &--sm {
        font-size: $small;
        padding: 0.5rem 0.75rem;
        font-weight: $regular;
    }

    &--md {
        font-size: $h6;
        padding: 0.5rem 0.75rem;
        font-weight: $regular;
    }
}