@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
  11. Remove link decoration
*/
a {
  text-decoration: none;
}

/* Fix Scrollbar */
html {
  scrollbar-gutter: stable;
}

h1, .h1 {
  font-size: clamp(2.75rem, 5vw, 3rem);
  font-weight: 600;
}

h2, .h2 {
  font-size: clamp(1.875rem, 4vw, 2rem);
  font-weight: 600;
}

h3, .h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  font-weight: 600;
}

h4, .h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  font-weight: 600;
}

h5, .h5 {
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  font-weight: 600;
}

h6, .h6 {
  font-size: clamp(1rem, 1.5vw, 1rem);
  font-weight: 600;
}

p, .p {
  font-size: clamp(1rem, 1.5vw, 1rem);
  font-weight: 400;
}

small, .small {
  font-size: clamp(0.875rem, 1.2vw, 0.875rem);
  font-weight: 400;
}

.x-small {
  font-size: 0.75rem;
  font-weight: 400;
}

body {
  font-family: "nunito Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1rem);
  font-weight: 400;
  background-color: #09090b;
  color: #ffffff;
  line-height: 1.5;
}

a {
  color: #ffffff;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, #09090b, transparent);
}
.nav-bar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem;
  border-radius: 100rem;
  background: rgba(9, 9, 11, 0.1);
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  border: solid 1px rgba(255, 255, 255, 0.2);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: normal;
  border-radius: 10rem;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
}
.btn-nav {
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.4s ease-in-out;
  gap: 0.5rem;
}
.btn-nav:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-transparent {
  border: none;
}
.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.btn--sm {
  font-size: clamp(1rem, 1.5vw, 1rem);
  padding: 0.75rem 1rem 0.75rem 1rem;
}
.btn--md {
  font-size: clamp(1rem, 1.5vw, 1rem);
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}
.btn--lg {
  font-size: clamp(1rem, 1.5vw, 1rem);
  padding: 1.125rem 1.5rem 1.25rem 1.5rem;
}/*# sourceMappingURL=index.css.map */